@use '../../components/mixins.scss' as *;
@use '../../components/variables.scss' as *;


.profile_block_column{ 
    display: grid;
    grid-template-columns: 25vw 40vw;
}

.profile_icon_block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    grid-column: 1;
    gap: 3vh;
}

.profile_user_icon_heater {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(190, 190, 190);
    border-radius: 100%;
    height: 20vh;
    width: 20vh;
}

.profile_icon_edit {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-family;
    font-size: 3vh;
    width: 10vw;
    padding: 5px;
    background-color: $button_color;
    border-radius: 10px;
}

.block1 {
    grid-column: 2;
}

.profile_page_subblock_input {
    display: flex;
    align-items: baseline;
}

.profile_page_p {
    width: 10vw;
    font-size: large;
    font-family: $font-family;
}

.profile_page_input {
    height: 25px;
    width: 15vw;
    @include input_area;
}
