@use '../mixins.scss' as *;
@use '../variables.scss' as *;

.page {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 75px
}

.block {
    @include element;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 6rem 12vw;
    grid-column: 3 / 5;
    grid-row: 2;
    height: 100vw;
    width: 55vw;
    padding: 30px;
}

.heater {
    @include heater;
    grid-row: 1;
    grid-column: 1 / 7;
}

.settings {
    font-size: 3rem;
    grid-row: 1;
    font-family: $font-family;
}

.card1 {
    @include element;
    grid-column: 1;
    grid-row: 2;
    width: 25vw;
    place-self: center;
    height: 10vw;
    &:hover {
        background-color: $on-hover;
    }
}

.card2 {
    @include element;
    grid-column: 2;
    grid-row: 2;
    width: 25vw;
    place-self: center;
    height: 10vw;
    &:hover {
        background-color: $on-hover;
    }
}