@use '../../components/mixins.scss' as *;

.screen {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.form {
    @include element;
    padding: 10px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    grid-row: 2;
    grid-column: 3;
    align-items: center;
    width: fit-content;
}

.input {
    @include input_area;
    font-size: 20px;
    width: 15vw;
}

.button_reg {
    @include button;
    background-color: rgb(196, 196, 196);
    width: 15vw;
    height: 4vh;
    &:hover {
        background-color: rgb(114, 114, 114);
        color: white;
    }
}

.button_log {
    @include button;
    margin-top: -10px;
    width: 15vw;
    height: 4vh;
    background-color: rgb(0, 0, 0);
    color: white;
    &:hover {
        background-color: rgb(175, 175, 175);
        color: black;
    }
}