@use '../../variables.scss' as *;

.return_block {
    display: flex;
    align-items: center;
    gap: 1vw;
    font-size: 4vh;
    font-family: $font-family;
    margin-bottom: 3vh;
}

.profile_arrow {
    padding: 5px;
    background-color: rgba(211, 211, 211, 0.589);
    border-radius: 5px; 
    :hover {
        background-color: rgb(73, 73, 73);
        color: white;
    }
}