@use '../../mixins.scss' as *;
@use '../../variables.scss' as *;

.side_bar_block {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    box-shadow: -2px 1px 10px 5px rgba(0, 0, 0, 0.15);
    position: absolute;
    width: 50px;
    height: 100%;
    align-items: center;
}

.side_bar_item_block {
    height: fit-content;
    &:hover > .side_bar_item {
            color: grey;
        }

}

.side_bar_item {
    position: relative;
    top: 10vh;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.15);
}